body{
    background-color : #000;
}
#special{
    z-index : 1;
    position : relative;
    text-align: center;
    padding-top: 22rem;
}
#special h1{
    color : #FFF;
}
.slideshow{
     z-index : 0;
     height  : 100%;
     width   : 100%;
     position : fixed;
     list-style: none;
     margin : 0;
     padding : 0;
     left: 0;
     top: 0;
}
.slideshow li{
    width : 100%;
    height : 100%;
    z-index  : 0;
    position : absolute;
    top: 0;
    left: 0;
    background-size : cover;
    background-repeat : no-repeat;
    background-position : 50% 50%;
    opacity: 0;
    animation: imageAnimation 50s linear infinite;
}
.slideshow li:nth-child(1){
    background-image : url("https://images.unsplash.com/photo-1519395612667-3b754d7b9086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}
.slideshow li:nth-child(2){
    background-image : url("https://images.unsplash.com/photo-1414016642750-7fdd78dc33d9?ixlib=rb-1.2.1&auto=format&fit=crop&w=749&q=80");
    animation-delay  : 10s;
}
.slideshow li:nth-child(3){
    background-image : url("https://images.unsplash.com/photo-1459378560864-f0b73495599c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    animation-delay  : 20s;
}
.slideshow li:nth-child(4){
    background-image : url("https://images.unsplash.com/photo-1537225228614-56cc3556d7ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");    
    animation-delay  : 30s;
    
}
.slideshow li:nth-child(5){
    background-image : url("https://images.unsplash.com/photo-1465800872432-a98681fc5828?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=896&q=80");
    animation-delay  : 40s;
    
}
@keyframes imageAnimation{
    0%{
        opacity: 0;
        animation-timing-function : ease-in;
    }
    10%{
        opacity: 1;
        animation-timing-function : ease-out;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
}
.navbar{
    z-index: 1;
}